<style>
    .article-content code {
        color: #c25 !important;
        padding: 1px 3px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 3px;
        font-family: var(--code-font-family);
    }

    .social-menu {
        display: flex;
        align-items: center; /* Align items vertically centered if needed */
        justify-content: center; /* Center items horizontally if needed */
        list-style-type: none; /* Remove default list styling */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }

    .social-menu li {
        margin: 0 10px; /* Adjust spacing between icons as needed */
    }

    .social-menu svg {
        width: 28px;
        height: 28px;
        stroke: var(--body-text-color);
        stroke-width: 1.33;
    }

    .left-sidebar {
        --sidebar-avatar-size: 150px;
        align-items: center;
    }

    .sidebar header .site-avatar {
        align-self: center;
    }

    .sidebar header .site-name {
        align-self: center;
        font-size: 2.6rem;
    }

    .sidebar header .site-description {
        font-size: 1.8rem;
        align-self: center;
    }

    .menu li span {
        font-size: 2.0rem;
    }

    .menu li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .article-coffee {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #e0e0e0; /* Adjust based on your design */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article-coffee .article-subheading {
        font-size: 1.2em; /* Adjust based on your heading size */
        font-weight: bold; /* Adjust based on your heading weight */
        margin-bottom: 10px; /* Adjust based on your design */
        text-transform: none; /* Prevent text capitalization */
        display: block; /* Ensure it starts on a new line */
    }

    .article-coffee p {
        font-size: 1em; /* Adjust based on your body text size */
        line-height: 1.5; /* Adjust based on your body text line height */
        margin-bottom: 10px; /* Adjust based on your design */
        text-transform: none; /* Prevent text capitalization */
        display: block; /* Ensure it starts on a new line */
        text-align: center; /* Center the paragraph text */
    }

    .article-coffee a {
        display: block; /* Ensure the button starts on a new line */
        margin-top: 10px; /* Adjust spacing as needed */
    }

    .article-coffee a img {
        display: block;
        margin: 0 auto;
    }
</style>

<script defer src="https://stats.andreagrandi.it/script.js" data-website-id="51266056-4071-4cbd-8157-ab4dc339407e"></script>
