<style>
    .article-content code {
        color: #c25 !important;
        padding: 1px 3px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 3px;
        font-family: var(--code-font-family);
    }

    .social-menu svg {
        width: 28px;
        height: 28px;
        stroke: var(--body-text-color);
        stroke-width: 1.33;
    }

    .left-sidebar {
        --sidebar-avatar-size: 150px;
        align-items: center;
    }

    .sidebar header .site-avatar {
        align-self: center;
    }

    .sidebar header .site-name {
        align-self: center;
        font-size: 2.6rem;
    }

    .sidebar header .site-description {
        font-size: 1.8rem;
        align-self: center;
    }

    .menu li span {
        font-size: 2.0rem;
    }

</style>
